@import "nullstyle.scss";

@font-face {
    font-family: "Impact";
    weight: 400;
    src: url("/fonts/Impact.woff2");
}

a {
    color: inherit;
}

body {
    color: black;
    font-family: "Roboto Condensed";
    font-weight: 400;
}

.header {
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 25px;

    &__container {}

    &__menu {
        display: flex;
        justify-content: space-between;
    }
}

.container {
    max-width: 1226px;
    padding: 0 10px;
    margin: 0 auto;
}

//menu

.menu {

    &__left,
    &__right {
        display: flex;
        gap: 0 40px;
        padding-top: 25px;
    }

    &__option {
        color: #363636;
        font-size: 15.5307px;
        line-height: 1.16;

        & a {
            transition: 0.3s ease;
        }

        & a:hover {
            text-decoration: underline;
            color: black;
        }
    }

    &__logo {

        & img {
            transition: 0.3s ease;
        }

        & img:hover {
            filter: drop-shadow(0px 0px 5px #ffffff);
        }
    }

    &__right {
        padding-right: 80px;
    }
}

//main

.main {}

//landing

.landing {
    position: relative;
    background: url("/img/bg.jpg") no-repeat center/cover;
    min-height: 800px;

    &__container {}

    &__content {
        padding: 100px;
        text-align: center;
        font-family: 'Impact';
        line-height: 1.22;
        color: #040404;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__title {
        font-size: 76px;
        letter-spacing: 0.03em;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        border-bottom: black 1px solid;

        & span {
            line-height: 1;
            font-size: 34px;
            color: #9F6B08;
        }
    }

    &__text {
        font-family: "Roboto Condensed";
        font-size: 15.53px;
        line-height: 1.17;
        color: #363636;
    }

    &__button {
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translateX(50%);
        display: inline-block;

        & img {
            transition: 0.3s ease;
        }

        & img:hover {
            filter: drop-shadow(0px 0px 5px #040404);
        }
    }
}

.container {}